body {
	margin: 0;
	font-family: Arial;
	background-color: #f6f6f6;
}

header h1 {
	margin-left: 40px;
	color: #009eaa;
}

a {
	text-decoration: none;
	font-size: 13pt;
	width: 10%;
	min-width: 100px;
	padding: 8px 6px;
	color: white;
}

a:hover {
	border-bottom: 3px solid lightcyan;
}

a.active-tab {
	border-bottom: 3px solid #009eaa;
}

nav {
	list-style-type: none;
	display: flex;
	text-align: center;
	background-color: #202020;
}

main {
	padding: 20px;
}

.popup-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.popup {
	background-color: lightgray;
	padding: 20px 50px 40px;
	width: 350px;
	border-radius: 5px;
	position: relative;
	text-align: center;
}

.cross {
	cursor: pointer;
	font-size: 42px;
	position: absolute;
	top: 0;
	right: 2%;
	transform: rotate(45deg);
	user-select: none;
}

.cross:hover {
	color: gray;
}

form input, form select {
	width: 80%;
	display: block;
	margin: 15px auto;
	padding: 4px;
}

form button {
	padding: 5px 20px;
	margin-top: 10px;
	width: 40%;
}

hr {
	margin: 25px 0 15px;
}

table {
	text-align: center;
	table-layout: fixed;
	word-wrap: break-word;
}

.data-table {
	width: 100%;
}

.table-btn {
	width: 20px;
	height: 20px;
	margin-top: 3px;
}

#add-btn {
	position: absolute;
	right: 20px;
	font-size: 15px;
	width: 200px;
}

.text-all {
	position: relative;
	top: 4px;
	color: #009eaa;
	font-weight: bold;
}

#table-manipulation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

#sort-field, #search-field {
	margin: 5px;
	font-size: 14px;
	width: 130px;
}

#sort-btn, #search-btn {
	font-size: 14px;
	width: 80px;
}

#stat-wrap {
	display: flex;
	justify-content: space-around;
}

.stat-table {
	width: 30%;
}
