body {
	margin: 0;
	font-family: Arial;
	background-color: lightyellow;
}

header h1 {
	margin-left: 40px;
}

a {
	text-decoration: none;
	font-size: 14pt;
	width: 10%;
	padding: 6px;
	color: white;
	transition: border-bottom 0.3s;
}

a:hover {
	border-bottom: 3px solid lightcyan;
}

a.active-tab {
	border-bottom: 4px solid darkcyan;
}

nav {
	list-style-type: none;
	display: flex;
	background: lightcyan;
	text-align: center;
	background-color: black;
}

/*header * {
	border: 1px solid red;
}*/